h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

p, .btn {
  font-family: 'Roboto';
}

.bg-dark {
  background-color: #313638 !important;
}

button.btn-primary {
    background-color: #F09D51 !important;
    border: none;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
  background-color: #AD723A;
  border: none;
  box-shadow: none !important;
}

button.btn-secondary {
    background-color: #ACE894 !important;
    border: none;
}

button.btn-secondary:hover, button.btn-secondary:active, button.btn-secondary:focus {
  background-color: #6A9957;
  border: none;
  box-shadow: none !important;
}

header, footer {
  margin-bottom: 2rem;
  padding: 2rem 0;
  color: #FFF;
}

.top-row {
  margin-bottom: 2rem;
}

.loan {
  display: none;
}

.bank, .work, .loan, .select-laptop, .laptop-info {
  padding: 2rem 3rem;
  color: #FFF;
  height: 100%;
}

.content-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-text .left {
  float: left;
} 
.content-text .right {
  float: right;
}

.image-styling {
  width: 100%;
}
